{% extends 'base.html' %}
<html>
    {% block content %}

     <form method='POST'>
    <div class="row">
        <div class="input-field col s6">
          <input name='name' placeholder="Placeholder" id="name" type="text">
          <label for="name">Name</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s6">
          <input name='surname' placeholder="Placeholder" id="surname" type="text">
          <label for="surname">Surname</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s6">
          <input name='grade' placeholder="Placeholder" id="grade" type="number">
          <label for="grade">Grade</label>
        </div>
    </div>
    <button type="submit">Submit</button>

</form>


     <table>
       <tr>
        <th>Emri</th>
        <th>Mbiemri</th>
        <th>Nota</th>
       </tr>
       {% for s in STUDENTS %}
       <tr>
           <td>{{ s.name }}</td>
           <td>{{ s.surname }}</td>
           <td>{{ s.grade }}</td>
       </tr>
       {% endfor %}
     </table>
    {% endblock %}
</html>

