{% extends 'base.html' %}
<html>
    {% block content %}

    <h3 style="text-align:center;">Products</h3><br><br>
<div class="container">
     <form method='GET'>
    <div class="row">
        <div class="input-field col s4" style=" left:25%;">
          <input name='product_name'  id="product_name" type="text">
          <label for="product_name">Search product</label>
        </div>

 <button class="btn waves-effect waves-light col s2" type="submit" style=" left:25%;">Search</button>
 </div>
</form>

 <table style="background-color:rgba(38, 166, 154, 0.44);">
       <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
       </tr>
        {% for p in PRODUCTS%}
        <tr>
           <td><a href="{{ url_for('modify_product', id = p.id)}}">{{ p.id }}</a></td>
           <td>{{ p.name }}</td>
           <td>{{ p.quantity }}</td>
           <td>{{ p.price }}</td>
           <td><a href="{{ url_for('delete_product', id = p.id)}}">Delete</a></td>

       </tr>
       {% endfor %}

     </table>
<hr><br><br>
    <form method='POST'>
    <div class="row">
        <div class="input-field col s3">
          <input name='name'  id="name" type="text">
          <label for="name">Name</label>
        </div>

        <div class="input-field col s3">
          <input name='quantity'  id="quantity" type="text">
          <label for="quantity">Quantity</label>
        </div>

        <div class="input-field col s3">
          <input name='price'  id="price" type="text">
          <label for="price">Price</label>
        </div>

    <button class="btn waves-effect waves-light col s3" type="submit" style="display:inline-block;">Create</button>
    </div>
   </form></div>
    {% endblock %}
</html>

