
{% extends 'base.html' %}
<html>
    {% block content %}
     <table>
       <tr>
        <th>Emri</th>
        <th>Qyteti</th>
        <th>Profesioni</th>
       </tr>
       {% for p in PEOPLE %}
       <tr>
           <td>{{ p.name }}</td>
           <td>{{ p.city }}</td>
           <td>{{ p.profession }}</td>
       </tr>
       {% endfor %}
     </table>
    {% endblock %}
</html>

